In [1]:
import pandas as pd
import numpy as np
import joblib

In [3]:
sensor_data = pd.read_csv('Inside sensor.csv')

In [5]:
sensor_data_cleaned = sensor_data.drop([0, 1, 2])  # Drop rows with metadata and empty values
sensor_data_cleaned.columns = sensor_data_cleaned.iloc[0]  # Set the correct column headers
sensor_data_cleaned = sensor_data_cleaned.drop(3)  # Drop the row used for headers
sensor_data_cleaned = sensor_data_cleaned.reset_index(drop=True)  # Reset the index for cleanliness

In [7]:
sensor_data_cleaned.head()

3       date      time  Humi  Temp   EC   PH   N   P   K
0  10/7/2024  15:24:48    24  26.3  272  7.5  18  88  81
1  10/7/2024  15:54:48  22.4  26.4  272  7.7  18  88  81
2  10/7/2024  16:24:48  21.3  26.4  272  7.7  18  88  81
3  10/7/2024  16:54:48  21.7  26.5  272  7.8  18  88  81
4  10/7/2024  17:24:48  21.9  26.5  272  7.8  18  88  81

In [9]:
sensor_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1183 non-null   object
 1   time    1183 non-null   object
 2   Humi    1183 non-null   object
 3   Temp    1183 non-null   object
 4   EC      1183 non-null   object
 5   PH      1183 non-null   object
 6   N       1183 non-null   object
 7   P       1183 non-null   object
 8   K       1183 non-null   object
dtypes: object(9)
memory usage: 83.3+ KB

In [11]:
numeric_columns = ['Humi', 'Temp', 'EC', 'PH', 'N', 'P', 'K']
sensor_data_cleaned[numeric_columns] = sensor_data_cleaned[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [13]:
sensor_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1183 non-null   object
 1   time    1183 non-null   object
 2   Humi    1183 non-null   float64
 3   Temp    1183 non-null   float64
 4   EC      1183 non-null   int64
 5   PH      1183 non-null   float64
 6   N       1183 non-null   int64
 7   P       1183 non-null   int64
 8   K       1183 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 83.3+ KB

In [15]:
sensor_data_cleaned.rename(columns={
    'Humi': 'humidity',   # Replace 'Humi' with 'humidity'
    'Temp': 'temperature'  # Replace 'Temp' with 'temperature'
}, inplace=True)

In [17]:
sensor_data_cleaned.to_csv('sensor_data_cleaned.csv', index=False)