In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv('all_india_dataset_final.csv')
df.shape

(246091, 17)

In [5]:
df.head()

,Unnamed: 0,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,precipitation,humidity,soil_type,N,P,K,production,pressure
0,0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,292.640631,2.379571,1016.868671,43,clay,598.552,0.000,0.000,2000,1004
1,1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,292.703959,2.906544,1015.245398,44,sandy,7.182,18.354,0.000,1,1004
2,2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,294.087464,2.139227,1015.611196,42,clay,35.742,0.000,0.000,321,1005
3,3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,293.216917,2.328995,1017.669100,42,peaty,8.740,8.740,0.000,641,1006
4,4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,292.782403,2.688837,1015.646975,44,clay,0.615,0.615,0.615,165,1004

In [7]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,state_names,district_names,crop_year,season_names,crop_names,area,temperature,wind_speed,precipitation,humidity,soil_type,N,P,K,production,pressure
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,292.640631,2.379571,1016.868671,43,clay,598.552,0.000,0.000,2000,1004
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,292.703959,2.906544,1015.245398,44,sandy,7.182,18.354,0.000,1,1004
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,294.087464,2.139227,1015.611196,42,clay,35.742,0.000,0.000,321,1005
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,293.216917,2.328995,1017.669100,42,peaty,8.740,8.740,0.000,641,1006
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,292.782403,2.688837,1015.646975,44,clay,0.615,0.615,0.615,165,1004

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   state_names     246091 non-null  object
 1   district_names  246091 non-null  object
 2   crop_year       246091 non-null  int64
 3   season_names    246091 non-null  object
 4   crop_names      246091 non-null  object
 5   area            246091 non-null  float64
 6   temperature     246091 non-null  float64
 7   wind_speed      246091 non-null  float64
 8   precipitation   246091 non-null  float64
 9   humidity        246091 non-null  int64
 10  soil_type       246091 non-null  object
 11  N               246091 non-null  float64
 12  P               246091 non-null  float64
 13  K               246091 non-null  float64
 14  production      246091 non-null  object
 15  pressure        246091 non-null  int64
dtypes: float64(7), int64(3), object(6)
memory usage: 30.0+ MB

In [11]:
state_counts = df.groupby('state_names').size().reset_index(name='counts')
state_counts

                    state_names  counts
0   Andaman and Nicobar Islands     203
1                Andhra Pradesh    9628
2             Arunachal Pradesh    2546
3                         Assam   14628
4                         Bihar   18885
5                    Chandigarh      90
6                  Chhattisgarh   10709
7        Dadra and Nagar Haveli     263
8                           Goa     208
9                       Gujarat    8436
10                      Haryana    5875
11             Himachal Pradesh    2494
12           Jammu and Kashmir     1634
13                    Jharkhand    1266
14                    Karnataka   21122
15                       Kerala    4261
16               Madhya Pradesh   22943
17                  Maharashtra   12628
18                      Manipur    1267
19                    Meghalaya    2867
20                      Mizoram     957
21                     Nagaland    3906
22                       Odisha   13575
23                   Puducherry     876
24                       Punjab    3173
25                    Rajasthan   12514
26                       Sikkim     714
27                   Tamil Nadu   13547
28                   Telangana     5649
29                      Tripura    1412
30                Uttar Pradesh   33306
31                  Uttarakhand    4896
32                  West Bengal    9613

In [13]:
df['production'] = pd.to_numeric(df['production'], errors='coerce')

In [15]:
df['yield'] = df['production'] / df['area']

In [17]:
df = df.dropna(subset=['yield'])
df = df[df['yield'] != 0]

In [19]:
df = df.join(pd.get_dummies(df['district_names']))
df = df.join(pd.get_dummies(df['season_names']))
df = df.join(pd.get_dummies(df['crop_names']))
df = df.join(pd.get_dummies(df['state_names']))
df = df.join(pd.get_dummies(df['soil_type']))

In [21]:
df = df.drop('district_names', axis=1)
df = df.drop('season_names',axis=1)
df = df.drop('crop_names',axis=1)
#df = df.drop('state_names', axis=1)
df = df.drop('soil_type', axis=1)
df = df.drop('production', axis=1)
df = df.drop('area', axis=1)

In [23]:
df.head()

,state_names,crop_year,temperature,wind_speed,precipitation,humidity,N,P,K,pressure,...,Uttar Pradesh,Uttarakhand,West Bengal,chalky,clay,loamy,peaty,sandy,silt,silty
0,Andaman and Nicobar Islands,2000,292.640631,2.379571,1016.868671,43,598.552,0.000,0.000,1004,...,False,False,False,False,True,False,False,False,False,False
1,Andaman and Nicobar Islands,2000,292.703959,2.906544,1015.245398,44,7.182,18.354,0.000,1004,...,False,False,False,False,False,False,False,True,False,False
2,Andaman and Nicobar Islands,2000,294.087464,2.139227,1015.611196,42,35.742,0.000,0.000,1005,...,False,False,False,False,True,False,False,False,False,False
3,Andaman and Nicobar Islands,2000,293.216917,2.328995,1017.669100,42,8.740,8.740,0.000,1006,...,False,False,False,False,False,False,True,False,False,False
4,Andaman and Nicobar Islands,2000,292.782403,2.688837,1015.646975,44,0.615,0.615,0.615,1004,...,False,False,False,False,True,False,False,False,False,False

In [25]:
df = df.replace({True: 1, False: 0})

C:\Users\Karcheng\AppData\Local\Temp\ipykernel_14528\3074727906.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [27]:
df.head()

,state_names,crop_year,temperature,wind_speed,precipitation,humidity,N,P,K,pressure,...,Uttar Pradesh,Uttarakhand,West Bengal,chalky,clay,loamy,peaty,sandy,silt,silty
0,Andaman and Nicobar Islands,2000,292.640631,2.379571,1016.868671,43,598.552,0.000,0.000,1004,...,0,0,0,0,1,0,0,0,0,0
1,Andaman and Nicobar Islands,2000,292.703959,2.906544,1015.245398,44,7.182,18.354,0.000,1004,...,0,0,0,0,0,0,0,1,0,0
2,Andaman and Nicobar Islands,2000,294.087464,2.139227,1015.611196,42,35.742,0.000,0.000,1005,...,0,0,0,0,1,0,0,0,0,0
3,Andaman and Nicobar Islands,2000,293.216917,2.328995,1017.669100,42,8.740,8.740,0.000,1006,...,0,0,0,0,0,0,1,0,0,0
4,Andaman and Nicobar Islands,2000,292.782403,2.688837,1015.646975,44,0.615,0.615,0.615,1004,...,0,0,0,0,1,0,0,0,0,0

In [29]:
df.isna().values.any()

False

In [31]:
df = df[~(df[['N', 'P', 'K']].eq(0).all(axis=1))]
df.shape

(201956, 808)

In [33]:
states = df['state_names'].unique() 
statewise_results = []
best_state = None
best_model = None
highest_r2 = float('-inf')  # Initialize to negative infinity
best_state_mse = None
best_model_mse = None
lowest_mse = float('inf')  # Initialize to positive infinity

In [35]:
sc = StandardScaler()
models = {
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'K-Neighbors': KNeighborsRegressor(),
    'Random Forest': RandomForestRegressor(random_state=42, n_estimators=100, max_depth=2),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42),
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(random_state=42),
    'Ridge': Ridge(random_state=42)
}

In [37]:
for state in states:
    # Filter the DataFrame for the current state
    state_df = df[df['state_names'] == state]

    num_rows = state_df.shape[0]
    
    # Define features (X) and target (y)
    X_state = state_df.drop(columns=['yield', 'state_names'])  # Adjust 'Yield' to the actual target column name
    y_state = state_df['yield']  # Adjust 'Yield' to the actual target column name
    
    # Split the data into training and testing sets
    X_train_state, X_test_state, y_train_state, y_test_state = train_test_split(X_state, y_state, test_size=0.2, random_state=42)
    
    # Process the data (e.g., scaling)
    X_train_state_processed = sc.fit_transform(X_train_state)
    X_test_state_processed = sc.transform(X_test_state)
    
    # Train and evaluate each model
    state_results = {}
    for name, model in models.items():
        model.fit(X_train_state_processed, y_train_state)
        y_pred_state = model.predict(X_test_state_processed)
        
        mse = mean_squared_error(y_test_state, y_pred_state)
        r2 = r2_score(y_test_state, y_pred_state)
        
        #state_results[name] = {'MSE': mse, 'R2': r2}
        statewise_results.append({
            'State': state,
            'Model': name,
            'MSE': mse,
            'R²': r2,
            'Num_Rows': num_rows
        })

        if r2 > highest_r2:
            highest_r2 = r2
            best_state = state
            best_model = name

        if mse < lowest_mse:
            lowest_mse = mse
            best_state_mse = state
            best_model_mse = name
    
    #statewise_results[state] = state_results
results_df = pd.DataFrame(statewise_results)

In [39]:
print(results_df)

                           State              Model            MSE        R²  \
0    Andaman and Nicobar Islands      Decision Tree    1264.291391  0.996843
1    Andaman and Nicobar Islands        K-Neighbors  378282.506544  0.055427
2    Andaman and Nicobar Islands      Random Forest     314.156435  0.999216
3    Andaman and Nicobar Islands  Gradient Boosting    4701.626387  0.988260
4    Andaman and Nicobar Islands  Linear Regression   69292.124245  0.826977
..                           ...                ...            ...       ...
226                  West Bengal      Random Forest  311939.669923  0.649797
227                  West Bengal  Gradient Boosting  126792.312613  0.857655
228                  West Bengal  Linear Regression  756283.588864  0.150949
229                  West Bengal              Lasso  755814.592795  0.151476
230                  West Bengal              Ridge  756782.174968  0.150390

     Num_Rows
0         170
1         170
2         170
3         170
4         170
..        ...
226      8116
227      8116
228      8116
229      8116
230      8116

[231 rows x 5 columns]

In [41]:
results_df.to_csv('statewise_model_results.csv', index=False)

In [59]:
for state, results in statewise_results.items():
    print(f"Results for {state}:")
    for model_name, metrics in results.items():
        print(f"  {model_name} - MSE: {metrics['MSE']:.4f}, R2: {metrics['R2']:.4f}")
    print()

Results for Andaman and Nicobar Islands:
  Decision Tree - MSE: 1264.2914, R2: 0.9968
  K-Neighbors - MSE: 378282.5065, R2: 0.0554
  Random Forest - MSE: 314.1564, R2: 0.9992
  Gradient Boosting - MSE: 4701.6264, R2: 0.9883
  Linear Regression - MSE: 69292.1242, R2: 0.8270
  Lasso - MSE: 4741.1277, R2: 0.9882
  Ridge - MSE: 5256.4881, R2: 0.9869

Results for Andhra Pradesh:
  Decision Tree - MSE: 420168.7690, R2: 0.7886
  K-Neighbors - MSE: 199117.6844, R2: 0.8998
  Random Forest - MSE: 286056.3276, R2: 0.8560
  Gradient Boosting - MSE: 164552.9519, R2: 0.9172
  Linear Regression - MSE: 245944.4119, R2: 0.8762
  Lasso - MSE: 243483.5561, R2: 0.8775
  Ridge - MSE: 244650.5870, R2: 0.8769

Results for Arunachal Pradesh:
  Decision Tree - MSE: 5.5850, R2: 0.7663
  K-Neighbors - MSE: 5.7959, R2: 0.7575
  Random Forest - MSE: 8.3375, R2: 0.6512
  Gradient Boosting - MSE: 4.2211, R2: 0.8234
  Linear Regression - MSE: 7.8210, R2: 0.6728
  Lasso - MSE: 10.7613, R2: 0.5498
  Ridge - MSE: 7.4386, R2: 0.6888

Results for Assam:
  Decision Tree - MSE: 432970.9911, R2: 0.7261
  K-Neighbors - MSE: 861958.6500, R2: 0.4548
  Random Forest - MSE: 512633.5924, R2: 0.6757
  Gradient Boosting - MSE: 462645.5963, R2: 0.7074
  Linear Regression - MSE: 800943.9880, R2: 0.4934
  Lasso - MSE: 800631.5251, R2: 0.4936
  Ridge - MSE: 801042.5021, R2: 0.4933

Results for Bihar:
  Decision Tree - MSE: 88.3853, R2: 0.4211
  K-Neighbors - MSE: 82.3520, R2: 0.4606
  Random Forest - MSE: 85.2076, R2: 0.4419
  Gradient Boosting - MSE: 78.6097, R2: 0.4851
  Linear Regression - MSE: 79.4404, R2: 0.4796
  Lasso - MSE: 88.8688, R2: 0.4179
  Ridge - MSE: 79.4007, R2: 0.4799

Results for Chandigarh:
  Decision Tree - MSE: 9.0686, R2: 0.8856
  K-Neighbors - MSE: 17.4126, R2: 0.7803
  Random Forest - MSE: 4.5985, R2: 0.9420
  Gradient Boosting - MSE: 3.1868, R2: 0.9598
  Linear Regression - MSE: 8230277174987308125913088.0000, R2: -103822652629344057294848.0000
  Lasso - MSE: 8.1676, R2: 0.8970
  Ridge - MSE: 10.0103, R2: 0.8737

Results for Chhattisgarh:
  Decision Tree - MSE: 2.2300, R2: 0.9339
  K-Neighbors - MSE: 5.0474, R2: 0.8503
  Random Forest - MSE: 5.7493, R2: 0.8295
  Gradient Boosting - MSE: 1.8436, R2: 0.9453
  Linear Regression - MSE: 54183866265100728926208.0000, R2: -1606690472458401087488.0000
  Lasso - MSE: 6.7227, R2: 0.8007
  Ridge - MSE: 3.2771, R2: 0.9028

Results for Dadra and Nagar Haveli:
  Decision Tree - MSE: 2.8628, R2: 0.9798
  K-Neighbors - MSE: 7.8933, R2: 0.9442
  Random Forest - MSE: 30.5788, R2: 0.7837
  Gradient Boosting - MSE: 5.7158, R2: 0.9596
  Linear Regression - MSE: 25279021442232300043317018624.0000, R2: -178782190248976066294054912.0000
  Lasso - MSE: 80.2002, R2: 0.4328
  Ridge - MSE: 143.4188, R2: -0.0143

Results for Goa:
  Decision Tree - MSE: 200.2861, R2: 0.9999
  K-Neighbors - MSE: 324295.9815, R2: 0.8265
  Random Forest - MSE: 76048.0839, R2: 0.9593
  Gradient Boosting - MSE: 87.3698, R2: 1.0000
  Linear Regression - MSE: 348406.4571, R2: 0.8136
  Lasso - MSE: 348387.8986, R2: 0.8136
  Ridge - MSE: 368906.6415, R2: 0.8026

Results for Gujarat:
  Decision Tree - MSE: 52.6882, R2: 0.8059
  K-Neighbors - MSE: 66.3401, R2: 0.7556
  Random Forest - MSE: 83.6819, R2: 0.6917
  Gradient Boosting - MSE: 50.1251, R2: 0.8153
  Linear Regression - MSE: 62.3302, R2: 0.7704
  Lasso - MSE: 64.8008, R2: 0.7613
  Ridge - MSE: 62.2471, R2: 0.7707

Results for Haryana:
  Decision Tree - MSE: 6938.9167, R2: -27.3694
  K-Neighbors - MSE: 338.5570, R2: -0.3842
  Random Forest - MSE: 67.4761, R2: 0.7241
  Gradient Boosting - MSE: 131.5968, R2: 0.4620
  Linear Regression - MSE: 77.6005, R2: 0.6827
  Lasso - MSE: 67.8201, R2: 0.7227
  Ridge - MSE: 77.6788, R2: 0.6824

Results for Himachal Pradesh:
  Decision Tree - MSE: 3.3757, R2: 0.5222
  K-Neighbors - MSE: 2.5315, R2: 0.6417
  Random Forest - MSE: 4.1803, R2: 0.4084
  Gradient Boosting - MSE: 1.5683, R2: 0.7780
  Linear Regression - MSE: 2.5302, R2: 0.6419
  Lasso - MSE: 4.7488, R2: 0.3279
  Ridge - MSE: 2.3730, R2: 0.6641

Results for Jammu and Kashmir :
  Decision Tree - MSE: 2.2778, R2: 0.5848
  K-Neighbors - MSE: 3.3220, R2: 0.3945
  Random Forest - MSE: 2.5564, R2: 0.5341
  Gradient Boosting - MSE: 2.1460, R2: 0.6089
  Linear Regression - MSE: 2.6742, R2: 0.5126
  Lasso - MSE: 2.5182, R2: 0.5410
  Ridge - MSE: 2.6892, R2: 0.5099

Results for Jharkhand:
  Decision Tree - MSE: 27.8628, R2: 0.4360
  K-Neighbors - MSE: 37.6220, R2: 0.2384
  Random Forest - MSE: 33.4353, R2: 0.3231
  Gradient Boosting - MSE: 31.3206, R2: 0.3660
  Linear Regression - MSE: 32.1031, R2: 0.3501
  Lasso - MSE: 36.8582, R2: 0.2539
  Ridge - MSE: 31.8271, R2: 0.3557

Results for Karnataka:
  Decision Tree - MSE: 10.6666, R2: 0.9382
  K-Neighbors - MSE: 12.6252, R2: 0.9269
  Random Forest - MSE: 23.9448, R2: 0.8614
  Gradient Boosting - MSE: 10.3002, R2: 0.9404
  Linear Regression - MSE: 13.8873, R2: 0.9196
  Lasso - MSE: 22.9746, R2: 0.8670
  Ridge - MSE: 13.8564, R2: 0.9198

Results for Kerala:
  Decision Tree - MSE: 64785.4756, R2: 0.9797
  K-Neighbors - MSE: 177806.0625, R2: 0.9443
  Random Forest - MSE: 184450.2950, R2: 0.9422
  Gradient Boosting - MSE: 47200.6708, R2: 0.9852
  Linear Regression - MSE: 121453601135782470145126957056.0000, R2: -38060273552211505577984.0000
  Lasso - MSE: 253913.2987, R2: 0.9204
  Ridge - MSE: 254335.7370, R2: 0.9203

Results for Madhya Pradesh:
  Decision Tree - MSE: 8.8521, R2: 0.8514
  K-Neighbors - MSE: 7.6560, R2: 0.8715
  Random Forest - MSE: 28.7531, R2: 0.5175
  Gradient Boosting - MSE: 9.4633, R2: 0.8412
  Linear Regression - MSE: 12.3158, R2: 0.7933
  Lasso - MSE: 18.9867, R2: 0.6814
  Ridge - MSE: 12.2742, R2: 0.7940

Results for Maharashtra:
  Decision Tree - MSE: 117.7607, R2: 0.9187
  K-Neighbors - MSE: 111.6329, R2: 0.9229
  Random Forest - MSE: 114.5006, R2: 0.9209
  Gradient Boosting - MSE: 80.3668, R2: 0.9445
  Linear Regression - MSE: 68.2947, R2: 0.9528
  Lasso - MSE: 71.8514, R2: 0.9504
  Ridge - MSE: 68.1896, R2: 0.9529

Results for Manipur:
  Decision Tree - MSE: 1.1630, R2: 0.9763
  K-Neighbors - MSE: 2.2157, R2: 0.9549
  Random Forest - MSE: 6.6333, R2: 0.8649
  Gradient Boosting - MSE: 1.0073, R2: 0.9795
  Linear Regression - MSE: 69946752332691979370496.0000, R2: -1424349633484701564928.0000
  Lasso - MSE: 8.7677, R2: 0.8215
  Ridge - MSE: 0.9282, R2: 0.9811

Results for Meghalaya:
  Decision Tree - MSE: 0.6926, R2: 0.9335
  K-Neighbors - MSE: 1.1119, R2: 0.8933
  Random Forest - MSE: 5.4253, R2: 0.4792
  Gradient Boosting - MSE: 1.0708, R2: 0.8972
  Linear Regression - MSE: 3.2660, R2: 0.6865
  Lasso - MSE: 8.2370, R2: 0.2093
  Ridge - MSE: 2.4561, R2: 0.7642

Results for Mizoram:
  Decision Tree - MSE: 21.3406, R2: 0.3110
  K-Neighbors - MSE: 19.4483, R2: 0.3721
  Random Forest - MSE: 20.6224, R2: 0.3342
  Gradient Boosting - MSE: 20.4296, R2: 0.3404
  Linear Regression - MSE: 21.0003, R2: 0.3220
  Lasso - MSE: 25.9415, R2: 0.1625
  Ridge - MSE: 19.3681, R2: 0.3747

Results for Nagaland:
  Decision Tree - MSE: 26.9957, R2: 0.5478
  K-Neighbors - MSE: 14.5007, R2: 0.7571
  Random Forest - MSE: 13.4188, R2: 0.7752
  Gradient Boosting - MSE: 11.7474, R2: 0.8032
  Linear Regression - MSE: 6.6494, R2: 0.8886
  Lasso - MSE: 10.1629, R2: 0.8298
  Ridge - MSE: 6.2584, R2: 0.8952

Results for Odisha:
  Decision Tree - MSE: 10.7217, R2: 0.9244
  K-Neighbors - MSE: 8.2398, R2: 0.9419
  Random Forest - MSE: 11.1153, R2: 0.9216
  Gradient Boosting - MSE: 6.7973, R2: 0.9520
  Linear Regression - MSE: 9.3158, R2: 0.9343
  Lasso - MSE: 14.3383, R2: 0.8988
  Ridge - MSE: 9.2593, R2: 0.9347

Results for Puducherry:
  Decision Tree - MSE: 1811091.1886, R2: 0.8526
  K-Neighbors - MSE: 728383.8917, R2: 0.9407
  Random Forest - MSE: 924257.0130, R2: 0.9248
  Gradient Boosting - MSE: 832626.1328, R2: 0.9322
  Linear Regression - MSE: 429513022923651343000029626368.0000, R2: -34967972407027710296064.0000
  Lasso - MSE: 994890.7003, R2: 0.9190
  Ridge - MSE: 1005969.8271, R2: 0.9181

Results for Punjab:
  Decision Tree - MSE: 415159.5636, R2: 0.9868
  K-Neighbors - MSE: 36528641.3229, R2: -0.1585
  Random Forest - MSE: 24346292.5276, R2: 0.2278
  Gradient Boosting - MSE: 1344059.6350, R2: 0.9574
  Linear Regression - MSE: 29716378.7889, R2: 0.0575
  Lasso - MSE: 29759092.7117, R2: 0.0562
  Ridge - MSE: 29784020.6599, R2: 0.0554

Results for Rajasthan:
  Decision Tree - MSE: 12.6694, R2: 0.8603
  K-Neighbors - MSE: 10.0675, R2: 0.8890
  Random Forest - MSE: 10.5331, R2: 0.8839
  Gradient Boosting - MSE: 7.7796, R2: 0.9142
  Linear Regression - MSE: 10.7416, R2: 0.8816
  Lasso - MSE: 14.5895, R2: 0.8392
  Ridge - MSE: 10.7377, R2: 0.8816

Results for Sikkim:
  Decision Tree - MSE: 6.0549, R2: -0.7111
  K-Neighbors - MSE: 3.5295, R2: 0.0025
  Random Forest - MSE: 3.3755, R2: 0.0461
  Gradient Boosting - MSE: 3.2572, R2: 0.0795
  Linear Regression - MSE: 3.2340, R2: 0.0860
  Lasso - MSE: 3.5385, R2: -0.0000
  Ridge - MSE: 3.1892, R2: 0.0987

Results for Tamil Nadu:
  Decision Tree - MSE: 127489.4460, R2: 0.7924
  K-Neighbors - MSE: 663824.3158, R2: -0.0811
  Random Forest - MSE: 56164.2444, R2: 0.9085
  Gradient Boosting - MSE: 61559.5107, R2: 0.8997
  Linear Regression - MSE: 491599.2389, R2: 0.1994
  Lasso - MSE: 490447.7172, R2: 0.2012
  Ridge - MSE: 491108.9186, R2: 0.2002

Results for Telangana :
  Decision Tree - MSE: 32644.8887, R2: 0.9744
  K-Neighbors - MSE: 183494.5248, R2: 0.8558
  Random Forest - MSE: 26899.3992, R2: 0.9789
  Gradient Boosting - MSE: 37832.5718, R2: 0.9703
  Linear Regression - MSE: 251725.9021, R2: 0.8022
  Lasso - MSE: 245769.3866, R2: 0.8069
  Ridge - MSE: 246385.0300, R2: 0.8064

Results for Tripura:
  Decision Tree - MSE: 2.8466, R2: 0.9823
  K-Neighbors - MSE: 4.4302, R2: 0.9725
  Random Forest - MSE: 7.1906, R2: 0.9554
  Gradient Boosting - MSE: 2.3332, R2: 0.9855
  Linear Regression - MSE: 2.3536, R2: 0.9854
  Lasso - MSE: 8.5244, R2: 0.9471
  Ridge - MSE: 2.3530, R2: 0.9854

Results for Uttar Pradesh:
  Decision Tree - MSE: 3.7790, R2: 0.9711
  K-Neighbors - MSE: 6.0770, R2: 0.9535
  Random Forest - MSE: 24.1098, R2: 0.8156
  Gradient Boosting - MSE: 3.4360, R2: 0.9737
  Linear Regression - MSE: 4.7573, R2: 0.9636
  Lasso - MSE: 11.9516, R2: 0.9086
  Ridge - MSE: 4.7554, R2: 0.9636

Results for Uttarakhand:
  Decision Tree - MSE: 2.3091, R2: 0.9528
  K-Neighbors - MSE: 3.6741, R2: 0.9249
  Random Forest - MSE: 8.4827, R2: 0.8265
  Gradient Boosting - MSE: 1.8595, R2: 0.9620
  Linear Regression - MSE: 3.4728, R2: 0.9290
  Lasso - MSE: 8.5256, R2: 0.8256
  Ridge - MSE: 3.4446, R2: 0.9295

Results for West Bengal:
  Decision Tree - MSE: 172173.4311, R2: 0.8067
  K-Neighbors - MSE: 883079.8497, R2: 0.0086
  Random Forest - MSE: 311939.6699, R2: 0.6498
  Gradient Boosting - MSE: 126792.3126, R2: 0.8577
  Linear Regression - MSE: 756283.5889, R2: 0.1509
  Lasso - MSE: 755814.5928, R2: 0.1515
  Ridge - MSE: 756782.1750, R2: 0.1504

In [61]:
print(f"The highest accuracy (R2) was achieved in {best_state} with the {best_model} model:")
print(f"  R2: {highest_r2:.4f}")
print(f"The lowest MSE was achieved in {best_state_mse} with the {best_model_mse} model:")
print(f"  MSE: {lowest_mse:.4f}")

The highest accuracy (R2) was achieved in Goa with the Gradient Boosting model:
  R2: 1.0000
The lowest MSE was achieved in Meghalaya with the Decision Tree model:
  MSE: 0.6926